@font-face {
  font-family:'IBM Plex Sans';
  src: url('../fonts/IBM Plex Sans.woff2') format('woff2'), url('../fonts/IBM Plex Sans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2084;
}

@font-face {
  font-family:'IBM Plex Sans Medium';
  src: url('../fonts/IBM Plex Sans Medium.woff2') format('woff2'), url('../fonts/IBM Plex Sans Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2084;
}

@font-face {
  font-family:'IBM Plex Sans Bold';
  src: url('../fonts/IBM Plex Sans Bold.woff2') format('woff2'), url('../fonts/IBM Plex Sans Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2084;
}