$alternative-fonts: Arial, serif;

$font-regular: 'IBM Plex Sans', $alternative-fonts;
$font-medium: 'IBM Plex Sans Medium', $alternative-fonts;
$font-bold: 'IBM Plex Sans Bold', $alternative-fonts;

$bg-color: #E5E5E5;

$text-color: #756F86;
$text-color-dark: #2C2738;
$text-color-light: #7C9CBF;
$text-color-lighten: #EBF4F8;
$text-color-error: #FF7171;

$accent: #0880AE;
$secondary: #DBE2EA;